@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-ghost-right {
    /* استایل‌های مربوط به دکمه "❮" */
    float: right; /* قرار دادن دکمه در سمت راست */
    margin-right: -30px;
}

.btn-ghost-left {
    /* استایل‌های مربوط به دکمه "❯" */
    float: left; /* قرار دادن دکمه در سمت چپ */
    margin-left: -30px;
}
